@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;700&display=swap');

.root{
    --primary-color: #FBBF24;
    --blue-color: #1D4ED8;
}

body{
    font-family: 'Arima Madurai', cursive;
}

.navigation{
    background-color: #FBBF24;
    text-align: center;
    margin: 0rem 0rem;
    padding: 0.08px;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    font-size: x-large;
}

.container{
    margin: 0px 250px;
}

textarea{
    width: 60%;
    height: 10vh;
    padding: 1rem;
    margin: 1rem;
    display: block;
    border-color: #1D4ED8;
}

#btn-translate{
    background-color: #1D4ED8;
    color: #FBBF24;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 0,5rem;
    font-size: large;
    font-weight: bold;
    font-family: 'Arima Madurai', cursive;
}

#output{
    border: 1px solid black;
    border-color: #1D4ED8;
    width: 60%;
    height: 10vh;
    padding: 1rem;
    margin: 1rem;
    font-weight: bold;
}

.footer{
    background-color: #FBBF24;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;margin: 0%;
    padding: 0rem;
    text-align: center;
}

.para{
    padding-bottom: 1rem;
}
